@import "../../styles/style";

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding: 20px;
  margin: 0;

  section {
    @include inner;

    h1 {
      font-size: 50px;
    }

    div {
      font-size: 50px;
    }

    @include sp {
      h1 {
        font-size: 30px;
      }

      div {
        font-size: 30px;
      }
    }
  }
}
