.title {
  font-size: 140px;
  width: 70vw;
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  
  .message {
    
  }
}
