@import '../../styles/style.scss';

.header {
  height: 64px;
  width: 100%;
  div {
    @include inner;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ul {
      position: absolute;
      right: 0px;
      list-style: none;
      padding: 0px;
      li {
        display: inline-block;
        margin: 10px;
      }
    }
    svg {
      height: 50px;
    }
  }
  @include sp {
    height: inherit;
    div {
      ul {
        position: static;
      }
    }
  }
}