@import "../../styles/style.scss";

.line_clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog_card {
  width: 90%;
  max-width: 980px;
  padding: 30px;
  margin: 30px auto;
  border: black solid 1px;
}

.header {
  height: 64px;
  width: 100%;
  div {
    @include inner;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ul {
      position: absolute;
      left: 0px;
      list-style: none;
      padding: 0px;
      li {
        display: inline-block;
        margin: 10px;
      }
    }
    svg {
      height: 50px;
    }
  }
  @include sp {
    height: inherit;
    div {
      ul {
        position: static;
      }
    }
  }
}

.blog_content {
  img {
    max-width: 100%;
  }
  a {
    text-decoration: underline;
    color: lightskyblue;
    &::after {
      content: "→";
    }
  }
}
