@import "../../styles/style";

.line_clamp {
  display: box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog_card {
  width: 90%;
  max-width: 980px;
  padding: 30px;
  margin: 30px auto;
  border: black solid 1px;
}

.header {
  width: 100%;
  height: 64px;

  div {
    @include inner;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    ul {
      position: absolute;
      left: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        margin: 10px;
      }
    }

    svg {
      height: 50px;
    }
  }

  @include sp {
    height: inherit;

    div {
      ul {
        position: static;
      }
    }
  }
}

.blog_content {
  img {
    max-width: 100%;
  }

  a {
    color: lightskyblue;
    text-decoration: underline;

    &::after {
      content: "→";
    }
  }
}
