.section {
  width: 100%;
  text-align: center;
  h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    &::before, &::after {
      margin: 10px;
      display: block;
      flex-grow: 1;
      content: '';
      height: 0px;
      border: 1px black solid;
    }
  }
  .icon_wrapper {
    
    vertical-align: middle;
    .icon {
      font-size: 50px;
    }
  }
}